/* BASE */

@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap");

:root,
* {
  box-sizing: border-box;
}

:root {
  /* 1rem = 10px  */
  font-size: 62.5%;

  --primary: hsl(185, 75%, 39%);
  --dark-blue: hsl(229, 23%, 23%);
  --gray-blue: hsl(227, 10%, 46%);
  --dark-gray: hsl(0, 0%, 59%);

  font-family: "Kumbh Sans", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
  background: var(--primary);
  padding: 0 2.4rem 0 2.5rem;
  background-image: url(/images/bg-pattern-top.svg), url(/images/bg-pattern-bottom.svg);
  background-position: bottom 45vh right 45vw, top 45vh left 45vw;
  background-repeat: no-repeat;
}

/* CARD-BASE */

.user-card {
  width: 100%;
  max-width: 35rem;
  background: white;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  border-radius: 1.5rem;
  overflow: hidden;
  gap: 2.4rem;
}

/* CARD - HEADER */

.user-card__header {
    width: 100%;
  display: grid;
  grid-template-rows: 8.6rem 5.4rem 4.8rem;
  grid-template-columns: 1fr;
  justify-items: center;
}

.user-card__header-bg-img-container {
  grid-row: 1/3;
  grid-column: 1/2;
  width: 100%;
  height: 100%;
}

.user-card__header-bg-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-card__header-profile-img {
  grid-row: 2/4;
  grid-column: 1/2;
  border-radius: 50%;
  overflow: hidden;
  border: 0.5rem solid white;
}

/* CARD - PRIMARY INFO */

.user-card__primary-info {
  text-align: center;
  font-size: 1.8rem;
}

.user-card__primary-info .user-name {
  font-weight: 700;
  margin-bottom: 1.3rem;
  color: var(--dark-blue);
}
.user-card__primary-info .user-age {
  margin-left: 0.9rem;
  font-weight: 500;
  color: var(--gray-blue);
}
.user-card__primary-info .user-location {
  font-size: 1.4rem;
  color: var(--gray-blue);
}

/* CARD - SOCIAL MEDIA INFO */

.user-card__social-info-stats {
  width: 100%;
  border-top: 1px solid #e8e9ec;
  padding: 2.4rem;
  display: flex;
  justify-content: center;
  text-align: center;
}

.social-info-stats__inner-container {
  flex-shrink: 1;
  width: clamp(23.4rem, 20.9rem + 6.6667vw, 24.9rem);
  display: flex;
  justify-content: space-between;
}

.stat .stat-value {
  font-weight: 700;
  font-size: 1.8rem;
  text-transform: uppercase;
  margin-bottom: 0.9rem;
}
.stat .stat-category {
  font-size: 1rem;
  letter-spacing: 0.15rem;
  color: var(--gray-blue);
}
